<%- include('./partials/head.ejs') %>

    <body>

        <div class="container ">
            <% const name='Page' %>
                <div><%- include('./partials/nav.ejs') %></div>
                <h1>Home <%= name %>
                </h1>
                <hr>


                <div class="col-lg-12">

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">

                                <%= post.title %>

                            </h3>
                        </div>
                        <div class="panel-body">
                            <p>
                                <%= post.body %>
                            </p>
                        </div>
                    </div>
                    <a class="btn btn-danger delete" data-doc="<%= post._id %>">Delete</a>
                </div>


        </div>
        <script>
            const trashDoc = document.querySelector('a.delete')
            trashDoc.addEventListener('click', (e) => {
                const endpoint = `/blog/${trashDoc.dataset.doc}`
                fetch(endpoint, {
                    method: 'DELETE'
                }).then((respnse) => respnse.json()).then((data => window.location.href = data.redirect)).catch(err => console.log(err))
            })
        </script>
    </body>

    </html>